<!--<router-outlet></router-outlet>-->

<!--<app-hello></app-hello>-->
<!--<button (click)="onClick()">Trigger change detection</button>-->


<!--<app-tooltip [config]="config"></app-tooltip>-->
<!--<button (click)="onClick()">Click</button>-->


<!--<app-count></app-count>-->

<!--<button (click)="add()">Add</button>-->
<!--<app-list [items]="items$"></app-list>-->

<!--<app-tabs>-->
<!--  <app-tab [content]="content"></app-tab>-->
<!--</app-tabs>-->

<button (click)="add()">Add</button>
<app-todos [todos]="todos"></app-todos>

<!--https://habr.com/ru/company/infopulse/blog/358860/-->
